<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">MINTIC</a>
    <div class="navbar-nav mr-auto">

        <li class="nav-item">
          <a routerLink="libro" class="nav-link">Libros</a>
        </li>
        <li class="nav-item">
          <a routerLink="addLibro" class="nav-link">Add</a>
        </li>
        <li class="nav-item">
          <a routerLink="addLibro" class="nav-link">Otra Op</a>
        </li>

    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
<router-outlet></router-outlet>
<p>FOOTER</p>
